.about-link {
    position: absolute;
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
    opacity: .8;
    @include transition(color .4s);

    &:hover {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

    &--open {
        right: 10px;
        bottom: 10px;
    }

    &--close {
        top: 35px;
        right: 35px;
        z-index: 50;
    }
}

.about {
    position: fixed;
    display: none;
    top: 20%;
    z-index: 2;
    max-width: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;

    .about__blur {
        position: fixed;
        height: 400px;
        width: 400px;
        background-color: map-get($c-rothko, 3);
        -webkit-filter: blur(20px);

        @include mq($until: 400px) {
            margin-left: -20px;
        }
    }

    h1, 
    p {
        position: relative;
        z-index: 20;
        padding: 30px;
        color: map-get($c-rothko, 19);
    }

    h1 {
        font-size: 3.4em;
        font-weight: bold;

        @include mq(400px) {
            padding-bottom: 120px;
        }
    }

    p {
        font-size: 1.4em;
        line-height: 1.5em;
        padding: 6px 30px;
    }

    a {
        color: map-get($c-rothko, 8);

        &:hover {
            color: map-get($c-rothko, 19);
        }
    }
}
