* {
    @include box-sizing(border-box);
}

html {
    font-family: $f-sans-serif;
    font-size: 62.5%;
}

html,
body {
    overflow: hidden;
}

body {
    background-color: $c-base;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
