.blocks {
    @include flex-display();
    @include flex-direction(column);
    margin: 0 10%;
    height: 100vh;
}

.block {
    margin: 30px;
    cursor: pointer;
    -webkit-filter: blur(15px);
    @include transition(all 2s);

    &:hover {
        margin-top: -5%;
        -webkit-filter: blur(10px);
    }
}

@for $i from 1 through $block-variants {
    .block--size-#{$i} {
        @include flex-grow($i);
    }
}

@for $i from 1 through $block-variants {
    .block--color-#{$i} {
        background-color: map-get($c-rothko, $i);
    }
}

@for $i from 1 through $block-variants {
    .block--spacing-#{$i} {
        margin: #{$i}px 30px;
    }
}
