.blocks {
    @include flex-display();
    @include flex-direction(column);
    @include transition(transform 2s);
    padding: 0 10%;
    margin: 0 auto;
    height: 100vh;
    max-width: 1000px;
}

.block {
    cursor: pointer;
    -webkit-filter: blur(15px);
    filter: blur(15px);
    @include transition(all 2s);

    &:hover {
        margin-top: -5%;
        -webkit-filter: blur(10px);
        filter: blur(15px);
    }
}

@for $i from 1 through $block-variants {
    .block--size-#{$i} {
        @include flex-grow($i);
    }
}

@for $i from 1 through $block-variants {
    .block--color-#{$i} {
        background-color: map-get($c-rothko, $i);
    }
}

@for $i from 1 through $block-variants {
    .block--spacing-#{$i} {
        margin: ($i * .5px) 0;
    }
}
