.block {
    position: absolute;
    left: 10%;
    border: 30px solid $c-base;
    width: 80%;
    cursor: pointer;
    -webkit-filter: blur(20px);
    @include transition(all 2s);

    &:hover {
        margin-top: -5%;
        -webkit-filter: blur(10px);
    }
}

@for $i from 1 through $block-variants {
    .block--size-#{$i} {
        height: percentage(random(80)/100) + 10%;
    }
}

@for $i from 1 through $block-variants {
    .block--color-#{$i} {
        background-color: rgb(random(256)-1, random(256)-1, random(256)-1);
    }
}

@for $i from 1 through $block-variants {
    .block--position-#{$i} {
        top: percentage(random(80)/100);
    }
}
