.fallback {
    width: 300px;
    margin: 100px auto;
    display: none;
    font-weight: bold;
    font-size: 2.4em;
    text-align: center;
}

.no-cssfilters {
    .blocks {
        display: none;
    }

    .fallback {
        display: block;
    }
}
