.signature {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-image: url('assets/images/signature.svg');
    background-repeat: no-repeat;
    width: 142px;
    height: 44px;
    opacity: .5;
}
